{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <div class="container-fluid d-block">
    <h1 class="text-warning text-center">CONNEXION</h1>
    <form clas="form-group" action="" method="POST">
    <div class="mb-3"><input name="_username" class="form-group" type="text"></div>
        <div class="mb-3"><input name="_password" class="form-group" type="password"></div>
        <div class="mb-3"><input name="" type="submit" class="form-group" class="btn btn-success"></div>

    </form>
{% endblock %}